.galeria {
	width: 100%;
	background-image: url(../imagenes/fondo-facebook.jpg);
	background-repeat: repeat;
	padding: 30px 0px;
}

.contenedor-galeria {
	max-width: 1100px;
	padding: 0px 50px;
	margin: auto;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.galeria h1 {
    width: 100%;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
	color: #780068;
}

.caja-album {
    width: 100%;
    max-width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caja-album img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.caja-album a {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #780068;
    font-weight: bold;
}

.caja-album a:hover {
    color: #333;
}

.caja-album a img:hover{
    opacity: 0.8;
    transform: scale(0.95, 0.95);
    transition: all 0.1s ease-in-out;
}

/******************************** MODO RESPONSIVO ****************************/
/********************************       768       ****************************/
/******************************** MODO RESPONSIVO ****************************/

@media (max-width: 600px) {
    
.galeria h1 {
	font-size: 20px;
}

.contenedor-galeria {
	padding: 0px 20px;
}
    
.caja-album {
    width: 100%;
    max-width: 160px;
}

.caja-album img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.caja-album a {
    font-size: 12px;
    line-height: 12px;
}

}

@media (max-width: 450px) {
    
.contenedor-galeria {
	padding: 0px 10px;
}
    
.caja-album {
    max-width: none;
}

}